<aside id="sidebar" class="sidebar c-overflow">
    <div class="profile-menu">
        <a href="#">
            <div class="profile-pic">
                <img src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="">
            </div>

            <div class="profile-info">
                NOME
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="@Url.Action("AlteraSenha", "Account")"><i class="zmdi zmdi-account"></i> Alterar Senha</a>
            </li>
            <li>
                <a href="@Url.Action("Login", "Account")" id="LogoutId" onclick=" LogoutClick('@Url.Action("Logout", "Account")') "><i class="zmdi zmdi-time-restore"></i> Sair</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li class="sub-menu toggled">
            <a href="#"><i class="zmdi zmdi-layers"></i>Gerenciar</a>
            <ul style="display: block;">
                <li>
                    <a href="@Url.Action("Gerenciar", "Linha")">Linha</a>
                </li>
                <li>
                    <a href="@Url.Action("Gerenciar", "Ponto")">Ponto</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>