@model ExpressoUrbano.Presentation.Models.Horario.HorarioViewModel

@using (Ajax.BeginForm("Pesquisar", "Horario", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Grid", OnBegin = "overlay()", OnComplete = "removeoverlay()" }, new { @id = "frmGerenciarPesquisa", @class = "form-inline", role = "form" }))
{
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(h => h.HorarioId, new { @class = "control-label" })
            @Html.TextBoxFor(h => h.HorarioId, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(h => h.Descricao, new { @class = "control-label" })
            @Html.TextBoxFor(h => h.Descricao, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(h => h.Hora, new {@class = "control-label"})
            @Html.TextBoxFor(h => h.Hora, new {@id = "DtNotificacaoPesquisa", @class = "form-control"})
        </div>
        <div class="col-md-2">
            @Html.LabelFor(h => h.Minuto, new {@class = "control-label"})
            @Html.TextBoxFor(h => h.Minuto, new {@id = "DtNotificacaoPesquisa", @class = "form-control"})
        </div>
        <div class="col-md-2">
            @Html.LabelFor(h => h.TipoHorario.Nome, new { @class = "control-label" })
            @Html.TextBoxFor(h => h.TipoHorario.Nome, new { @id = "DtNotificacaoPesquisa", @class = "form-control" })
        </div>
        <div class="col-md-3" style="float: right;">
            <div class="form-horizontal row" style="margin-top: 27px;">
                <input type="submit" class="btn btn-sm btn-default" value="Pesquisar" />
                <input type="reset" class="btn btn-sm btn-default" value="Limpar" />
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
}